{
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "semi": true,
                "trailingComma": "none",
                "singleQuote": true,
                "printWidth": 80,
                "useTabs": true
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}